# API
PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/academia_platform?schema=public"
JWT_SECRET="troque-por-um-segredo-longo"
CPF_HASH_SECRET="troque-por-um-segredo-para-cpf"
CORS_ORIGIN="http://localhost:3000"
STORAGE_PROVIDER="local"
STORAGE_BUCKET="students"

# Web
NEXT_PUBLIC_API_URL="http://localhost:3333"

# Mobile
EXPO_PUBLIC_API_URL="http://localhost:3333"
